<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Registrar a tus clientes</h1>
            <h3 class="mb-5">
                <em>Mantén un mejor registro</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                ¿Ya estás registrado? Inicia
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>